@{
    ViewBag.Title = "ShowUpdate";
    Layout = "~/Views/Shared/AALogin.cshtml";
}
@model MySliderProject.Models.Student
    @section title
    {
        <title>Easy Course Registration System | UpdateStudent</title>
    }

<div class="main_btm1"><!-- start main_btm -->
<div class="container">
	<div class="contact">
       
		<div class="contact_main">
			   
				<div class="col-md-8">
				  <div class="contact-form">
				  	<h2>Update</h2>
					
                             @using (Html.BeginForm("Update","Admin",FormMethod.Post)){
                                @Html.ValidationSummary(true)

                                                               
                                  <div class="Editor-label">
                                  <h4>   @Html.LabelFor(Student=>Student.RegId)</h4>
                                     

                                 </div>
                                 <div class="Editor-Field">
                                    @Html.EditorFor(Student=>Student.RegId)
                                    
                                    @Html.ValidationMessageFor(u=>u.RegId)
                                 </div>
                                   <div class="Editor-label">
                                  <h4>   @Html.LabelFor(Student=>Student.RollNo)</h4>
                                     

                                 </div>
                                 <div class="Editor-Field">
                                    @Html.EditorFor(Student=>Student.RollNo)
                                    
                                    @Html.ValidationMessageFor(u=>u.RollNo)
                                 </div>
                                 <div class="Editor-label">
                                  <h4>   @Html.LabelFor(Student=>Student.Name)</h4>
                                     

                                 </div>
                                 <div class="Editor-Field">
                                    @Html.EditorFor(Student=>Student.Name)
                                    
                                    @Html.ValidationMessageFor(u=>u.Name)
                                 </div>                              
                                 
                                   <div class="Editor-label">
                                  <h4>   @Html.LabelFor(Student=>Student.Batch)</h4>

                                 </div>
                                 <div class="Editor-Field">
                                    @Html.EditorFor(Student=>Student.Batch)
                                    
                                    @Html.ValidationMessageFor(u=>u.Batch)
                                 </div>
                                 
                                   <div class="Editor-label">
                                  <h4>   @Html.LabelFor(Student=>Student.UName)</h4>
                                     

                                 </div>
                                 <div class="Editor-Field">
                                    @Html.EditorFor(Student=>Student.UName)
                                    
                                    @Html.ValidationMessageFor(u=>u.UName)
                                 </div>
                                 
                                 <div class="Editor-label">
                                  <h4>   @Html.LabelFor(Student=>Student.Password)</h4>
                                   
                                 </div>
                                 <div class="Editor-Field">
                                    @Html.EditorFor(Student=>Student.Password)
                                    
                                    @Html.ValidationMessageFor(u=>u.Password)
                                 </div>
                                  <div class="Editor-label">
                                  <h4>   @Html.LabelFor(Student=>Student.CPassword)</h4>
                                   
                                 </div>
                                 <div class="Editor-Field">
                                    @Html.EditorFor(Student=>Student.CPassword)
                                    
                                    @Html.ValidationMessageFor(u=>u.CPassword)
                                 </div>
                                 
                                 <span><input type="submit" value="Submit"></span>
                             }
                  
				    </div>
  			</div>		
  			<div class="clearfix"></div>		
		</div>
	</div>
</div>
</div>
 <script>
    @Scripts.Render("~/bundles/jqueryval")
 </script>


